*.bak
# except foo.html which is maintained by hand.
!foo.html
# Ignore objects and archives.
*.[oa]
*.[0-9]
*~
soap/adapterfilter/?/*
.svn/
blib/
*.vpj
*.vpw
*.vpwhist
*.vtg
_Inline
._.DS_Store
.DS_Store

bash/realpath-lib/readlink*.log
perl/etc/justonce/tmp/*.lst
etc/autoproxy-gfwlist/*.pac
