[submodule "released/pIRS"]
	path = released/pIRS
#	url = https://code.google.com/p/pirs/
#	url = ssh://galaxy001@git.code.sf.net/p/pirsim/code
	url = git@github.com:galaxy001/pirs.git
[submodule "etc/overlay"]
	path = etc/overlay
	url = git@github.com:galaxy001/gentooxy.git
[submodule "mydoc"]
	path = mydoc
	url = git@bitbucket.org:galaxysd/mydoc.git
[submodule "shared/bioinfo01"]
	path = shared/bioinfo01
	#url = git@bitbucket.org:fgisz/bioinfo01.git
	url = git@github.com:galaxy001/bioinfo01.git
