[submodule "c_cpp/gnulib"]
	path = c_cpp/gnulib
	url = http://git.savannah.gnu.org/r/gnulib.git
[submodule "c_cpp/pspp"]
	path = c_cpp/pspp
	url = http://git.savannah.gnu.org/r/pspp.git
[submodule "released/pIRS"]
	path = released/pIRS
	url = https://code.google.com/p/pirs/
[submodule "etc/overlay"]
	path = etc/overlay
	url = git@github.com:galaxy001/gentooxy.git
