<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>me.Galaxy.AutoSSHem1</string>
	<key>UserName</key>
	<string>Galaxy</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>AUTOSSH_POLL</key>
		<string>59</string>
		<key>KEYFILE</key>
		<string>/Users/Galaxy/Dropbox/Galaxy/dotfiles/ssh/GalaxyMini</string>
		<key>COMMONARG</key>
		<string>-o ServerAliveInterval=59 -N</string>
		<key>NoHostKeyCheck</key>
		<string>-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no</string>
	</dict>
	<key>Nice</key>
	<integer>5</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>
			RandomPort='RANDOM % 64000 + 1024'; \
			date; \
			/usr/local/bin/autossh -M $(($RandomPort)) -f galaxy@2403:3a00:202:1129:49:212:210:128 -p 26386 -C -D7575 $COMMONARG; \
			/usr/local/bin/autossh -M $(($RandomPort)) -f luolab@eeb-zhanglab.eeb.lsa.umich.edu -C -D8000 $COMMONARG; \
			echo 1.;
		</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>StandardOutPath</key>
	<string>/Library/Logs/me.Galaxy.AutoSSHem.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/me.Galaxy.AutoSSHem.log</string>
</dict>
<!--
Embed Version

https://github.com/tjluoma/launchd-keepalive
https://github.com/grinnan/grintun/blob/master/LaunchDaemons/local.autotunnel.autossh.plist

### Put me in /Library/LaunchDaemons/ as it is "System-wide daemons provided by the administrator". Remember to "sudo chown root:wheel".
sudo launchctl unload /Library/LaunchDaemons/me.Galaxy.AutoSSHem1.plist
sudo cp me.Galaxy.AutoSSHem1.plist /Library/LaunchDaemons/
sudo launchctl load /Library/LaunchDaemons/me.Galaxy.AutoSSHem1.plist

sudo launchctl start me.Galaxy.AutoSSHem1
sudo launchctl stop me.Galaxy.AutoSSHem1
ps -ef|grep autossh|awk '{print $2}'|xargs sudo kill -9

sudo rm /Library/Logs/me.Galaxy.AutoSSHem.log
-->
</plist>
