<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>me.Galaxy.AutoSSHem</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>AUTOSSH_POLL</key>
		<string>59</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>
			KEYFILE='/Users/Galaxy/Dropbox/Galaxy/dotfiles/ssh/GalaxyMini'; \
			COMMONARG='-o ServerAliveInterval=59 -N -f'; \
			NoHostKeyCheck='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'; \
			RandomPort='RANDOM % 64000 + 1024'; \
			/usr/local/bin/autossh -M $(($RandomPort)) -f galaxy@2403:3a00:202:1129:49:212:210:128 -p 26386 -C -D7575 $COMMONARG -i $KEYFILE; \
			/usr/local/bin/autossh -M $(($RandomPort)) -f luolab@eeb-zhanglab.eeb.lsa.umich.edu -C -D8000 $COMMONARG -i $KEYFILE; \
			/usr/local/bin/autossh -M $(($RandomPort)) -f galaxy@lab.luo-lab.org $COMMONARG -i $KEYFILE -L8083:192.168.0.83:22 -L8059:192.168.0.83:5900 -L8005:192.168.0.5:22 -L8165:192.168.0.165:22 -L8003:192.168.0.3:22 -L20548:192.168.0.3:548 -L5000:192.168.0.3:5000 -L8202:192.168.0.202:443 -L8881:192.168.0.1:443 -R9922:localhost:22 -D8632;
		</string>
	</array>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>StandardOutPath</key>
	<string>/Library/Logs/me.Galaxy.AutoSSHem.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/me.Galaxy.AutoSSHem.err</string>
</dict>
<!--
Embed Version

https://github.com/tjluoma/launchd-keepalive
https://github.com/grinnan/grintun/blob/master/LaunchDaemons/local.autotunnel.autossh.plist

### Put me in /Library/LaunchDaemons/ as it is "System-wide daemons provided by the administrator". Remember to "sudo chown root:wheel".
sudo cp me.Galaxy.AutoSSHem.plist /Library/LaunchDaemons/
sudo launchctl unload /Library/LaunchDaemons/me.Galaxy.AutoSSHem.plist
sudo launchctl load /Library/LaunchDaemons/me.Galaxy.AutoSSHem.plist
sudo launchctl start me.Galaxy.AutoSSHem
sudo launchctl stop me.Galaxy.AutoSSHem

ps -ef|grep autossh|awk '{print $2}'|xargs sudo kill -9
-->
</plist>
